.jumbroton {
  padding-top: 6rem;
  background-color: #e2edff;
}

#galery {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

.social-icons {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
}
.social-icons a {
  text-decoration: none;
  color: #e2edff;
  font-size: 24px;
  transition: color 0.3s;
}
.social-icons a:hover {
  color: #0062ff;
}
